body {
  font-family: arial;
  padding:0;
  background:lightgray;
  margin:0;
  text-align: center;
}
.nav ul{
  list-style: none;
  background-color:midnightblue;
  text-align:center;
  padding:0;
  margin:0 auto;
}
.nav li{
  display: inline-block;
}
.nav a{
  text-decoration: none;
  color:#fff;
  width:100px;
  display: block;
  padding:15px;
  font-size:15px;
  text-align: center;
}
.nav a:hover{
  background:black;
}
nav a:link{
  color:#5C7FA3;
}
nav a:visited{
  color:#344873;
}
nav a:active{
  color:#000000;
}

h1 {
  text-decoration: underlined;
  text-align: center;
  font-size: 4em;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}


@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 2em;
  }
}
@media only screen and (max-width: 480px) {
  h1 {
    font-size: 1.5em;
  }
}


footer {
  clear:both;
  text-align: center;
  border-top: 1px #CCCCCC
  padding: 10px;
}
img{
  float:left;
  margin: 50px;
}
<style>
    body {
      text-align: center;
    }
    h1 {
      text-align: left;
    }
    p {
      text-align: justify;
      text-align:left;
    }
    h3{
      text-align: justify;
    }
    li{
      text-align: justify;
    }
  </style>